{% extends 'base.html' %}

{% block body%}
    <div class="container">
        <h1>Faça sua Busca</h1>
        <hr>
        <div class="row">
            <div class="col">
                        <div class="form-group">
                            <form action="{{ url_for('historico') }}" method="GET">
                                <input value={{email}} type="email" name="busca" placeholder="Digite o email">
                                <button type="submit" value="botao">Pesquisar</button>
                            </form>
                        </div>
            </div>
        </div>
        <div>
            {% for i, dado in dados %}
                <p>Nome: {{ dado.nome }}</p>
                <p>Email: {{ dado.email }}</p>
                <p>Status: {{ dado.status }}</p>
                <p>Valor: {{ dado.valor }}</p>
                <p>Forma_Pagamento: {{ dado.forma_pagamento }}</p>
                <p>Parcelas: {{ dado.parcelas }}</p>
                <p>Mensagem de Liberar Acesso: {{ dado.msg_liberar_acesso }}</p>
                <p>Mensagem de Retirar Acesso: {{ dado.msg_retirar_acesso }}</p>
                <p>Mensagem de Boas Vindas: {{ dado.msg_boas_vindas }}</p>
                <p>Mensagem de Recusado: {{ dado.msg_recusado }}</p>
                <p>Data: {{ dado.data }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
